<!-- Footer Navigation -->
<nav class="container fixed-bottom bg-white">
  <div
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <p class="col-md-4 mb-0 text-muted">&copy;&nbsp;2022&nbsp;Data Chasers</p>
    <!-- <button class="btn btn-success">
      <a href="rateUS">Rate US</a>
    </button> -->

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="/" class="nav-link px-2 text-muted">Home</a>
      </li>

      <% if (user) { %>

      <li class="nav-item">
        <a href="/survey" class="nav-link px-2 text-muted">Surveys</a>
      </li>

      <% } %>
    </ul>
  </div>
</nav>
