<div class="container">
  <div class="row">
    <h1 class="text-center display-4 py-5">Thank you for taking the survey!</h1>

    <div class="d-md-flex gap-2 justify-content-center">
      <a class="btn btn-outline-secondary btn-lg px-4" href="/take-survey"
        >Take another survey</a
      >
      <a class="btn btn-outline-secondary btn-lg px-4" href="/"
        >Back to main page</a
      >
    </div>
  </div>
</div>
